/* universal elements */
body {
    background-image: url(images/background.png);
    margin: auto;
    height: auto;
    background-size: contain;
}
html {
    scroll-behavior: smooth;
}
main {
    max-width: 1000px;
    display: flex; 
    flex-direction: column;
    gap: 100px;
}

header { 
    margin-top: 0;
      position: sticky; 
    z-index: 1000000;
    background-image: url(images/portfolio-banner.png);
    background-size: cover;
    background-repeat: repeat-y;
    /* height:    200px; */
}

header h1 {
    display: none; 
}


@media screen and (min-width: 600px) {
body {
    background-image: url(images/background.png);
    margin: auto;
    height: auto;
    background-size: contain;
}
html {
    scroll-behavior: smooth;
}
main {
    margin: 200px auto;
    max-width: 1000px;
    display: flex; 
    flex-direction: column;
    gap: 100px;
}

header { 
      position: sticky; 
    z-index: 1000000;
    background-image: url(images/portfolio-banner.png);
    background-size: cover;
    height:    200px;

}


header h1 {
    display: none; 
}

/* .banner {
    background-image: url(images/footer.png);
    height: 100px;
    width: auto;
    rotate: calc(180deg);
} */

.has-dropdown .dropdown {
    display: none; 
    margin-top: 10px; 
    padding-left: 10px; 
}

.has-dropdown:hover .dropdown {
    display: block; 
}

.has-dropdown .dropdown li {
    opacity: 0; 
    transform: translateY(-5px);
    transition: all 0.25s ease; 
}

.has-dropdown:hover .dropdown li {
    opacity: 1; 
    transform: translateY(0);
}



.sidebar {
    /* display: none; */
    /* position: fixed;  */
    z-index: 1000000;
    /* border-radius: 0 20px 20px 0; */
    max-width: 500px;
    padding: 10px;
    margin: auto;
    border-radius: 100px;
    padding: auto 20px; 
}

.sidebar img {
    width: 30px;
}

.sidebar ul {
    list-style: none;
    margin: auto;
    justify-content: center;
    padding: 20px; 

    display: flex; 
    flex-direction: row;
    gap: 15px; 
    
}


.sidebar ul li a {
        font-family: "Sniglet", system-ui;
    font-size: 15px;
    font-weight: 300;
    color: #851951 ; 
    text-align: center;
    display: block;
    text-decoration: none;

}

.sidebar li {
    background-color: #ffeff7;
    padding: 15px; 
    width: 100px;
  
    justify-content: center;
    display: flex;
    border-radius: 50px;
    border: 3px #D49CB9 solid;
}

.sidebar li:hover {
    background-color: #ffd9df;
    transform: scale(1.1);
}

.has-dropdown .dropdown {
    display: none; 
    position: absolute; 
    top: 20px; 
    left: -12px;
    z-index: 1000; 
}

.has-dropdown:hover .dropdown {
    display: block; 
}


.has-dropdown .dropdown li  {
    background-color: #ffeff7;

    padding: 15px; 
    width: 100px;
    justify-content: center;
    display: flex;
    border-radius: 50px;
    border: 3px #D49CB9 solid;
}

.has-dropdown .dropdown li:hover {
     background-color: #ffd9df;
    transform: scale(1.1);
}

/* index */

.introduction {
    background-image: url(images/blue-gingham.png);
    border: solid #717FA4 5px;
    background-color: aliceblue;
    padding: 30px;
    margin: auto 20px;
    border-radius: 20px;
    width: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

/* .introduction .title {
    max-width: 350px;
    width: 100%;
} */

.whole-intro {
     background-image: url(images/checkered-paper-light_.png);
    background-size: contain;
    max-width: 100%;    
    border-radius: 20px;
    border: 5px #ddd4b4 solid;
    display: flex; 
    flex-direction: row;
    gap: 15px;
    padding: 20px;

}

.intro-page h1 {
    display: none;
}

.name {
    max-width: 100%;
    width: 300px;
    animation: pop 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards; 
}

@keyframes pop {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }
    
    60% {
        transform: scale(1.15);
        opacity: 1; 
    }

    100% {
        transform: scale(1);
        opacity: 100%;
    }
}


.prof-image {
    max-width: 100%;
    width: 350px;
    margin: auto;
    flex: 1;
    border-radius: 12px;


}

.prof-image:hover {
 animation: wiggle 0.5s ease-in-out;

}


@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}


.introduction h1 {

    font-weight: 200;
}

.intro-page {
    gap: 20px;
    display: flex; 
    flex-direction: column; 
    flex: 1;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
}

.intro-paragraph {
    margin: 10px;
     border: solid #F8CF84 3px;
    background-color: #FFF9EE;
    /* background-image: url(images/checkered-paper.png);
    background-size: contain; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;

    /* border: 2px solid #ccc0aa; */
    font-family: "Sniglet", system-ui;
    font-size: 18px;
    color:#3a2a20;
    font-weight: 300;
    line-height: 1.5em;
    /* flex: 1; */
}


/* 
.row {
    display: flex;
    flex-direction: column;
} */

.links {
    text-decoration: none;
    display: flex;
    margin: auto;
    flex-direction: row;
    width: 200px;
    gap: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.links img {
    width: 300px; 
    max-width: 100%;
}

.links a:hover {
     transform: scale(1.2);
}

.carousel {
       max-height: 700px;
    scroll-behavior: auto;
    overflow-y: auto;
    border: 5px solid #D49CB9;
    position: relative;
    display: flex; 
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    margin: 30px;
    background-image:url(images/dots.png);
    border-radius: 20px;
}

.clip {
    position: absolute;
    background-color: #DA9696;
    width: 200px; 
    height: 35px;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    z-index: 99999;
    border: solid #dd7a7a 5px;
    border-radius: 0 0 20px 20px;
}

.featured-projects h2 {
    display: none;
}

.home-projects { 
      position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    /* height: 200px; */
    margin: 20px;
    width: 400px;
}

.project-image {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    border: 3px solid #fdd386;
    
}

.project-image-wrapper {
    width: 100%; 
    height: 250px; 
    overflow: hidden;
}

.home-sticker, .home-sticker-two {
    width: 35px;
    max-width: 100%;
    position: absolute;
    z-index: 99999;
}

.home-sticker {
    top: 20px;
    left: 22%;
}

.home-sticker-two {
    bottom: 46%; 
    right: 21%;
}


.skills {
    margin: auto 20px;
    position: relative;
    display: flex; 
    gap: 40px;
    flex-direction: column;
}
.design {
    display: flex; 
    flex-direction: row;
    /* padding: 0; */
    gap: 40px;
}

.featured-title {
    max-width: 100%;
    width: 500px;
   opacity: 0;  
   border: none;
}

.featured-title.active {
        animation: pop 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards; 
}


.featured-projects {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    /* display: flex; */
    position: relative;
    margin: auto 20px;
    background-color: #826E63;
    border: solid #774F37 5px;
    border-radius: 20px;
}

.projects-content {
    display: flex; 
    flex-direction: column;
      border: 3px solid #fdd386;
      border-radius: 20px;
    background-color: #FFF9EE;
    text-align: left;
    gap: 20px;
    padding: 20px;
}


.projects-content p {
    font-family: "Sniglet", system-ui;
    font-size: 18px;
    font-weight: 300;
   margin: auto;
   line-height: 1.5em;
   color:#3a2a20;
}

.projects-content a { 
    font-family: "Sniglet", system-ui;
    text-decoration: none;
    padding: 15px; 
    border-radius: 50px;
    background-color: #CFE8B5;
    border: 3px #97B974 solid;
    text-align: center;
    width: 100px;
    color: #46612c;
    font-weight: 500;
    align-self: flex-end;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.projects-content a:hover {
    transform: scale(1.1);
    background-color: #b4e28a;
}

.projects-content h3 {
    margin: 0;
   color:#3a2a20;
}

.home-projects {
    border: 5px #ddd4b4 solid;
    padding: 35px;
     background-image: url(images/checkered-paper-light_.png);
    border-radius: 20px;
    width: 500px;
    /* overflow-x: auto; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.scroll {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.scroll h3 {
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
       color:#3a2a20;
}

.design {
    display: flex; 
    justify-content: center;

}

.design-skills {
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center ;
    flex-direction: column;
    justify-content: center;
    border: 5px solid #B19094;
    position: relative;
    background-image: url(images/stripes-light.png);
    padding: 18px;
    gap: 15px; 
    /* margin: 10px; */
    border-radius: 20px;
    background-size: cover;
}


.design-skills h3 {
    display: none;
}

.design-skill-title  {
    max-width: 100%;
    width: 300px;
}

.design-skills ul li {
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    padding: 15px; 
    border-radius: 50px;
}

.sticker {
    position: absolute;
    max-width: 100%;
        top: -50px;
    left: 40%; 
    transform: translateX(-40%);
    width: 70px;
 animation: simple-bounce 2s ease-in-out infinite;
}

.smiski-sticker {
    position: absolute;
         top: -80px;
    left: 35%; 
    transform: translateX(-50%);
    max-width: 100%;
    width: 120px;
  animation: simple-bounce 1.5s ease-in-out infinite;

}

@keyframes simple-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.design-skills ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    padding: 0;
}

.design-skills li {
    border: solid 3px #8c5c66;
    background-color: #f2c9d0;
    margin: 5px;
    font-family: "Sniglet", system-ui;
    font-size: 15px;
    font-weight: 300;
    color: #3a2a20;
    line-height: 1.5em;
}

.design-softwares {
       box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #94B1FF;
    position: relative;
    background-image: url(images/checkered-light.png);
    background-size: cover;
    padding: 30px; 
    /* margin: 10px; */
    border-radius: 20px;
    gap: 20px;
}

.softwares {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px;
    
}
.design-softwares h3 {
    display: none;
}
.design-software-title {
    width:250px; 
    max-width: 100%;
}
.softwares img {
    max-width: 100%;
    width: 90px;
}



.education h3 {
    display: none;
}

.education h2 {
    font-family: "Fredoka", sans-serif;
     color:#3a2a20;
       font-weight: 500;

}

.education-title {
    max-width: 100%;
    width: 300px;
}

.education {
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    border: 5px solid #fbc6d0;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    border-radius: 20px;
    background-image: url(images/plaid-yellow-light.png);

}

.bow-sticker {
    position: absolute;
    max-width: 100%;
    width: 50px;
    top: -15px;
    left: -15px;
     animation: simple-bounce 1.4s ease-in-out infinite;

}

.bow-sticker-two {
    position: absolute;
    max-width: 100%;
    width: 50px;
    top: -15px;
    right: -15px;
     animation: simple-bounce 1.3s ease-in-out infinite;
}

.education p {
    font-family: "Sniglet", system-ui;
    font-size: 17px;
    color:#3a2a20;
}


.resume {
    position: relative;
    margin: auto 20px;
}

.resume h3 {
    display: none;
}

.experience-title {
    border: 5px solid #e8abab;
    position: absolute;
    padding: 20px; 
    margin-top: 30px;
    border-radius: 20px 20px 0 0;
    background-color: #FFDFDD;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 200px;
    top: -87px;
}

.experience {
    border: 5px solid #e8abab;
    margin-top: 30px;
    padding: 50px;
    border-radius: 0 20px 20px 20px;
    background: url(images/Folder.png);
    background-size: cover;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.experience h2 {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color: #3a2a20;
}

.experience p { 
        font-family: "Sniglet", system-ui;
 font-size: 17px;
    color:#3a2a20;
    font-weight: 300;
    line-height: 1.5em;
}

.experience-content {
    border: 5px #ddd4b4 solid;
    background-image: url(images/checkered-paper-light_.png);
    padding: 30px;
    border-radius: 20px;
}

footer {
    background-image: url(images/footer.png); 
    height: 300px;
}
.contact img {
    max-width: 100%;
    width: 300px;
}


.help-contact {
    position: relative;
    width: 300px;
    height: 250px;
    border-radius: 20px;;
    padding: 20px;
    /* max-width: 500px;
    height: 200px; */
     background: url(images/checkered-paper-light_.png);
    border: solid #F8CF84 5px;
    display: flex;
    flex-direction:column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.help-contact img {
    position: absolute;
    width: 70px;
    max-width: 100%;
    top: 10px;
    right: 10px;
}

.help-contact address{
    font-family: "Sniglet", system-ui;
    padding: 15px; 
    border-radius: 50px;
    background-color: #CFE8B5;
    border: 3px #97B974 solid;
    text-align: center;
    /* width: 100px; */
   
    font-weight: 500;
}


 .help-contact a {
       text-decoration: none;
        color: #46612c;
 }
.help-contact address:hover {
    transform: scale(1.2);
    background-color: #b4e28a;
}


.help-contact h3 {
    margin: 15px;
        font-family: "Fredoka", sans-serif;
    font-weight: 600;
       color:#3a2a20;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 20px;
    padding: 30px; */
    margin: auto 20px;
    gap: 10px;
}

.contact-side {
    position: relative;
    background-image: url(images/blue-gingham.png);
    border-radius: 20px;
    padding: 30px;
   width: 350px;
   /* margin: auto 20px; */
    height: 300px;
    border: 5px #717FA4 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-side, .mailbox-animation {
    align-self: center;
}
.mailbox-animation { 
    position: relative; 
    /* display: inline-block;  */
    height: auto; 
}

.mailbox {
    position: relative; 
    width: 250px;
    max-width: 100%; 
    aspect-ratio: 1/1;
}

.mailbox img {
   width: 100%; 
   height: auto; 
   position: absolute; 
   top: 0; 
    left: 0; 
    transition: opacity 0.3s ease, transform 0.3s ease, 
}

@keyframes normal-fade {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

@keyframes hover-fade {
  0%, 50% { opacity: 0; }
  51%, 100% { opacity: 1; }
}

.mailbox img.normal {
  opacity: 1;
  z-index: 1;
   animation: normal-fade 2s ease-in-out infinite;

}

.mailbox img.hover {
  opacity: 0;
  z-index: 2;
 animation: hover-fade 2s ease-in-out infinite;
}

/* hover state */
.mailbox-animation:hover img.normal {
  opacity: 0;
  transform: scale(0.97);
}

.mailbox-animation:hover img.hover {
  opacity: 1;
  transform: scale(1.03);
}

.back-at-top {
    scroll-behavior: smooth;
        font-family: "Sniglet", system-ui;
    font-size: 15px;
    font-weight: 300;
    color: #851951 ; 
    text-align: center;
    display: block;
    text-decoration: none;

    background-color: #ffeff7;
    padding: 15px; 
    width: 100px;
  
    justify-content: center;
    display: flex;
    border-radius: 50px;
    border: 3px #D49CB9 solid;
}

.back-at-top:hover {
        background-color: #ffd9df;
    transform: scale(1.1);
}

footer {
    position: relative;
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
            font-family: "Sniglet", system-ui;
    font-size: 16px;
    font-weight: 500;
    color: #851951 ; 
    text-align: center;
    display: block;
    text-decoration: none;
    margin-top: 0 ;
}
.footer-items {
    /* position: absolute; */
    bottom: 15px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer-items img { 
    width: 200px;
    max-width: 100%;
}

.footer-row ul {
     justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}

.footer-row ul li a {
    text-decoration: none;

}

.footer-row a {
    margin: auto;
    padding: 15px;
    background-color: #94B1FF;
    border-radius: 50px;
    
}

/* projects */
.projects {
    margin: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.branding {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
       position: relative;
    margin: auto 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color: #d0dcfd;
   border: 5px #94B1FF solid;
    padding: 40px;
    gap: 20px;
    
    border-radius: 0 20px 20px 20px;
}

.left p {
    line-height: 2em;
          margin: 10px;
        padding: 25px;
        border-radius: 20px;
     border: solid #F8CF84 3px;
    background-color: #FFF9EE;
 
}

.title {
   display: flex;
   justify-content: center;
   align-items: center;
    font-family: "Sniglet", system-ui;
    font-size: 16px;
    font-weight: 500;
     color: #426ee6 ;
}

.social-title {
       display: flex;
   justify-content: center;
   align-items: center;
    font-family: "Sniglet", system-ui;
    font-size: 16px;
    font-weight: 500;
     color: #d73287;
}


.right p {
    line-height: 2em;
          margin: 10px;
        padding: 25px;
        border-radius: 20px;
     border: solid #F8CF84 3px;
    background-color: #FFF9EE;
}

.left img, .right img{
    max-width: 100%;
    width: 500px;
  border: 3.5px solid #fdd386;
box-shadow: 0 4px 6px rgba(0,0,0,0.15);;
    width: 450px;
    border-radius: 20px;
}

iframe {
  border: 3.5px solid #fdd386;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    width: 450px;
    border-radius: 20px;
}

.product {
    background-image: url(images/branding.png);
    background-size: contain;
    padding: 20px;
    margin: auto;
    width: 500px;
    height: 350px;
    text-align: center;
    justify-content: center;
    display: flex; 
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 3px #b8d39a solid; 
}

.social {
    background-image: url(images/branding.png);
    background-size: contain;
    padding: 20px;
    margin: auto;
    width: 500px;
    height: 350px;
    text-align: center;
    justify-content: center;
    display: flex; 
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 3px #b8d39a solid; 
}


.text {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto 10px;
    background-color: #c2dea8;
    border-radius: 20px;
}

.text p {
    font-family: "Sniglet", system-ui;
    font-size: 18px;
    font-weight: 300;
     line-height: 1.5em;
     color: #274607;
    
}

.text h2 { 
    margin: 5px; 
   color: #274607;
         font-family: "Fredoka", sans-serif;
    font-weight: 600;
}

.text a {
    text-decoration: none;
    padding: 15px; 
    width: 150px;
    color: #3a6510;
    border-radius: 50px;
    background-color:#a4d373;
    border: 3px #9cc575 solid;
    font-family: "Sniglet", system-ui;
    font-size: 20px;
    font-weight: 300;
}

.text a:hover {
    color: #7fc141;
    background-color: #d2eabc;
}



.text p {
    margin: 20px; 
    text-align: left; 
}


/* user interface page */

.tab, .tab-two, .tab-three, .tab-branding, .tab-social, .tab-two-branding, .tab-two-social, .tab-three-branding, .tab-three-social {
    position: absolute;
}

.tab {
    background-color: #f3b7d6;
    padding: 25px;
    z-index: 999999;
    width: 150px;
    border: 5px #f079b7 solid;
    top: -78px;
    left: -4.5px;
    border-radius: 20px 20px 0 0;
}


.tab-branding, .tab-social {
    padding: 25px;
    z-index: 999999;
    width: 150px;
    top: -78px;
    left: -4.5px;
    border-radius: 20px 20px 0 0;
}

.tab-two {
    background-color: #f6d0e4;
    padding: 25px;
    z-index: 1;
    height: 18px;
    width: 150px;
    border: 5px #f079b7 solid;
  top: -78px;
    left: 200px;
    border-radius: 20px 20px 0 0;
}

.tab-three {
        background-color: #fce7f2;
         border: 5px #f079b7 solid;
    padding: 25px;
    width: 150px;
     height: 18px;
   
  top: -78px;
  left: 405px;
    border-radius: 20px 20px 0 0;

}

.tab-two-branding, .tab-two-social {
    padding: 25px;
    z-index: 1;
    height: 18px;
    width: 150px;
  top: -78px;
    left: 200px;
    border-radius: 20px 20px 0 0;
}

.tab-branding {
  background-color: #d0dcfd;
   border: 5px #94B1FF solid;
}

.tab-two-branding {
      background-color: #e1e8fb;
   border: 5px #94B1FF solid;
}

.tab-three-branding { 
      background-color: #eff3fd;
   border: 5px #94B1FF solid;
}

.tab-social {
     background-color: #F8CF84;border: 5px #e6ba69 solid;
}

.tab-three-branding, .tab-three-social {
        z-index: 1;
    padding: 25px;
    width: 150px;
     height: 18px;
  top: -78px;
  left: 405px;
    border-radius: 20px 20px 0 0;
}

.tab-two-social {
 background-color: #ffdb98;border: 5px #e6ba69 solid;
}

.tab-three-social {
     background-color: #fbe1b1;border: 5px #e6ba69 solid;
}

.user-interface {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    margin: auto 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3b7d6;
    padding: 40px;
    gap: 20px;
    border: 5px #f079b7 solid;
    border-radius: 0 20px 20px 20px;
}

.user-interface p, .social-media p, .branding p {
    margin: 0;
}


.user-interface img {
    max-width: 100%;
    width: 450px;
    border-radius: 20px;
}

.social-media {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    margin: auto 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8CF84;border: 5px #e6ba69 solid;
    padding: 40px;
    gap: 20px;
    
    border-radius: 0 20px 20px 20px;
}

.sonny, .concert-exploration, .smart-stop, .blog, .marites{
        max-width: 100%; 
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: url(images/checkered-paper-light_.png);
    border: 5px #ddd4b4 solid;
    padding: 40px; 
    border-radius: 20px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    
}

.sonny .right, .concert-exploration .right, .smart-stop .right, .blog .right, .marites .right {
     display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
           font-family: "Sniglet", system-ui;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
    color: #3a2a20;
    /* margin: auto 10px; */
}

.sonny .left, .concert-exploration .left, .smart-stop .left, .blog .left, .marites .left {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Sniglet", system-ui;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
    color: #3a2a20;
    /* margin: auto 10px; */


}

.sonny p, .marites p, .concert-exploration p, .smart-stop p, .blog p {
    margin: 20px;
}



.click a {  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
    padding: 20px;
    background-color: #ffeff7;
    padding: 15px; 
    width: 150px;
    display: block;
    text-align: center;
    align-self: flex-start;
    border-radius: 50px;
    border: 3px #D49CB9 solid;
    font-family: "Sniglet", system-ui;
    font-size: 17px;
    font-weight: 400;
    color: #851951 ; 
    margin-left: auto;
}

.click a:hover {

    background-color: #ffd9df;
    transform: scale(1.1);
}



.click-social a {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
     text-decoration: none;
    padding: 15px;
    padding: 15px; 
    width: 150px;
    display: block;
    text-align: center;
    border-radius: 50px;
    font-family: "Sniglet", system-ui;
    font-size: 17px;
    font-weight: 400;
    color: #c78812;
    background-color: #fddca0;
    border: 3px #edaa2f solid;
 
}

.click-social a:hover {

    background-color: #fee6b9;
    transform: scale(1.1);
}

.click-branding a {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
     text-decoration: none;
    padding: 15px;
    padding: 15px; 
    width: 150px;
    justify-content: center;
    display: flex;
    border-radius: 50px;
    font-family: "Sniglet", system-ui;
    font-size: 17px;
    font-weight: 400;
    color: #688ef6;
     background-color: #e6edff;
   border: 3px #7597f5 solid;
 
}

.click-branding a:hover {

    background-color: #eff3fd;
    transform: scale(1.1);
}


}

